/* ==================================================================

*   Ceevee Media Queries
*   url: styleshout.com
*   03-18-2014
*   Edited 4/11/2020 by Allison Wu

/* ================================================================== */


/* screenwidth less than 1024px
--------------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {

    /* header styles
   ------------------------------------------------------------------ */
   header .banner-text h1 {
      font: 80px/1.1em 'opensans-bold', sans-serif;
      letter-spacing: -1px;
      margin: 0 auto 12px auto;
   }

}

/* screenwidth less than 900px
--------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {

    /* header styles
   ------------------------------------------------------------------ */
   header .banner { padding-bottom: 12px; }
   header .banner-text h1 {
      font: 78px/1.5em 'opensans-bold', sans-serif;
      letter-spacing: -1px;      
   }
   header .banner-text h3 {
      font: 17px/1em 'opensans-bold', sans-serif;
      width: 80%;
   }
   header .banner-text hr {
      width: 65%;
      margin: 12px auto;
   }
   /* nav-wrap */
   #nav-wrap {
      font: 11px 'opensans-bold', sans-serif;
      letter-spacing: 1.5px;
   }


   /* About Section
   ------------------------------------------------------------------- */
   #about {
      padding-top: 50px;
      padding-bottom: 50px;
      height: auto;
   }
   #about .profile-pic {
      width: 180px;
   }
   #about .contact-details { width: 50%; }
   #about .download { 
      width: 50%; 
      height: auto;
   }
   #about .address { margin-bottom: 0px;}

   

   /* Resume Section
   ------------------------------------------------------------------- */
   #resume h1 { font: 16px/24px 'opensans-bold', sans-serif; }
   #resume .main-col { padding-right: 5%; }   
}


/* mobile wide/smaller tablets
---------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {

   /* mobile navigation
   -------------------------------------------------------------------- */
   #nav-wrap {
      font: 12px 'opensans-bold', sans-serif;
      background: transparent !important;
      letter-spacing: 1.5px;  
      width: auto;
      position: fixed;
      top: 0;
      right: 0;
   }
   #nav-wrap > a {
	   width: 48px;
		height: 48px;
		text-align: left;
		background-color: #DB3069;
		position: relative;
      border: none;
      float: right;

      font: 0/0 a;
      text-shadow: none;
      color: transparent;

      position: relative;
      top: 0px;
   }

	#nav-wrap > a:before,
   #nav-wrap > a:after {
	   position: absolute;
		border: 2px solid #fff;
		top: 35%;
		left: 25%;
		right: 25%;
		content: '';
	}
   #nav-wrap > a:after { top: 60%; }

   /* toggle buttons */
	#nav-wrap:not( :target ) > a:first-of-type,
	#nav-wrap:target > a:last-of-type  {
	   display: block;
	}

   /* hide menu panel */
   #nav-wrap ul#nav {
      height: auto;
		display: none;
      clear: both;
      width: auto; 
      float: right;     

      position: relative;
      right: 0;
   }

   /* display menu panels */
	#nav-wrap:target > ul#nav	{
	   display: block;
      padding: 20px;
      background: #1f2024;
      clear: both;
   }

   ul#nav li {
      display: block;
      height: auto;      
      margin: 0 auto; 
      padding: 0 4%;           
      text-align: left;
      border-bottom: 1px solid #2D2E34;
      border-bottom-style: dotted; 
   }
  
   ul#nav li a {  
      display: block;    
      margin: 0;
      padding: 0;      
      margin: 12px 0; 
      line-height: 16px; /* reset line-height */
      border: none;
   }  

   /* Header Styles
   -------------------------------------------------------------------- */
   header .banner {
      padding-bottom: 12px;
      padding-top: 6px;
   }
   header .banner-text h1 { font: 68px/1.1em 'opensans-bold', sans-serif; }
   header .banner-text h3 {
      font: 16px/1.9em 'librebaskerville-regular', serif;
      width: 85%;
   }
   header .banner-text hr {
      width: 80%;
      margin: 18px auto;
   }

   /* header social links */
   header .social {
      margin: 18px 0 24px 0;
      font-size: 24px;
      line-height: 36px;      
   }
   header .social li { margin: 0 10px; }


   /* About Section
   -------------------------------------------------------------------- */
   
   #about .profile-pic {
      width: 150px;
   }
   #about .download .button {
      width: 100%;
      text-align: center;
   }
   #about .header-col {
      width: 200px !important;
      height: 200px !important;
      left: 50%;
      transform: translate(-50%, 0%);
      padding: 50px;
   }

   /* Resume Section
   --------------------------------------------------------------------- */
   #resume .header-col {
      padding-top: 0px;
      margin-bottom: 20px;
      width: auto;
   }
   #resume h1 { 
      letter-spacing: 3px; 
      text-align: center;
   }
   #resume .main-col { padding-right: 30px; }
   #resume h3, #resume .info, #resume .date { text-align: center; }
      
   .bars { width: 100%; }



   /* Projects Section
   /* ----------------------------------------------------------------- */
   #projects .header-col {
      padding-top: 0px;
      margin-bottom: 20px;
      width: auto;
   }
   #project-wrapper .columns { 
      margin-bottom: 40px; 
      align-content: center;
   }
   .popup-modal {	max-width: 85%; }
   #projects .main-col {
      text-align: center !important;
   }

   /* Control Nav */
   .flex-control-nav {
      text-align: center;
      margin-left: -30px;
   }

   /* footer
   ------------------------------------------------------------------------ */
  
   /* copyright */
   footer .copyright li:before { content: none; }
   footer .copyright li { margin-right: 12px; }
}

/* mobile narrow
  -------------------------------------------------------------------------- */

@media only screen and (max-width: 480px) {

   /* mobile navigation
   -------------------------------------------------------------------- */
   #nav-wrap ul#nav { width: auto; float: none; }

   /* header styles
   -------------------------------------------------------------------- */
   header .banner { padding-top: 24px; }
   header .banner-text h1 {
      font: 40px/1.1em 'opensans-bold', sans-serif;      
      margin: 0 auto 24px auto;
   }
   header .banner-text h3 {
      font: 14px/1.9em 'librebaskerville-regular', sans-serif;
      width: 90%;
   }

   /* about styles
    -------------------------------------------------------------------- */ 
    #about {
     height: auto !important;
   }
   #about .profile-pic {
      top: 70px;
   }
   #about .header-col {
      width: 140px !important;
      height: 140px !important;
   }
   #about .main-col {
      top: 15px;
   }


   /* resume 
   ------------------------------------------------------------------------ */
   #resume .main-col {
      margin: 0px, 0px, 20px, 0px;
      position: relative;
      left: 50%;
      transform: translate(-50%);
      margin: 0px;
      padding: 0px;
   }
   #resume .header-col {
      width: 100% !important;
      margin-bottom: 10px;
   }
   #resume .h1 {
      text-align: center !important;
   }
   #resume .info {
      width: 100% !important;
   }
   #resume .date {
      width: 100% !important;
      margin-bottom: 10px;
   }

   /* project 
   ------------------------------------------------------------------------ */
   .item {
      max-width: 250px;
   }
   #projects .header-col {
      width: 100% !important;
      text-align: center !important;
   }

   /* social 
   ------------------------------------------------------------------------ */
   #social {
      margin-left: -90px;
   }

}

/* ipad sideways
--------------------------------------------------------------------- */
@media only screen and (height: 1024px) and (width: 768px) {

   /* nav
   ------------------------------------------------------------------ */
   ul#nav li a {
      font-size: 20px;
   }

}

/* iphone X sideways
--------------------------------------------------------------------- */
@media only screen and (height: 375px) and (width: 812px) {

   /* nav
   ------------------------------------------------------------------ */
   ul#nav li a {
      font-size: 20px;
   }

   /* about
   ------------------------------------------------------------------ */
   #about .download .button {
      width: 225px;
      text-align: center;
   }

   #about .download .button p {
      width: 225px;
   }
   
}

/* iphone 6/7/8 plus sideways
--------------------------------------------------------------------- */
@media only screen and (height: 414px) and (width: 736px) {

   /* resume
   ------------------------------------------------------------------ */
   #resume .info {
      width: 100%;
   }

   #resume .date {
      width: 100%;
      margin-bottom: 10px;
   }
   
}

/* iphone 6/7/8 sideways
--------------------------------------------------------------------- */
@media only screen and (height: 375px) and (width: 667px) {

   /* resume
   ------------------------------------------------------------------ */
   #resume .info {
      width: 100%;
   }

   #resume .date {
      width: 100%;
      margin-bottom: 10px;
   }
   
}

/* iphone 5 sideways
--------------------------------------------------------------------- */
@media only screen and (height: 320px) and (width: 568px) {

   /* resume
   ------------------------------------------------------------------ */
   #resume .info {
      width: 100%;
   }

   #resume .date {
      width: 100%;
      margin-bottom: 10px;
   }
   
}

/* pixel 2 XL sideways
--------------------------------------------------------------------- */
@media only screen and (height: 411px) and (width: 823px) {

   ul#nav {
      font-size: 18px;
   }
   
}


/* galaxy S5 sideways
--------------------------------------------------------------------- */
@media only screen and (height: 360px) and (width: 640px) {

   /* resume
   ------------------------------------------------------------------ */
   #resume .info {
      width: 100%;
   }

   #resume .date {
      width: 100%;
      margin-bottom: 10px;
   }
   
}







